// PROCESS
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.

//3 layout elements
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  margin: 0;
  box-sizing: border-box;
}

$medium: "only screen and (min-width:700px)";
$large: "only screen and (min-width:900px)";

body {
  background-color: #9B401D;
}

.navi {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  background-color: #424244;

  div {
    margin: auto;
    font-family: Oswald;
  }
}

.navigationButton:hover {
  background-color: #8C8D90;
}

.header {
  background-color: white;

  .logo {
  }
}

.mainContent {
  display: flex;
  flex-flow: row wrap;
  padding-top: 2%;
}

.contentBlock {
  flex: 0 0 96%;
  background-color: white;
  box-shadow: 5px 5px 5px #424244;
  padding: 20px;
  margin: auto;
  margin-top: 10px;

  // @media #{ $medium } {
  //   width: 320px;
  // }

  .conImage {
    background-color: green;
    height: 300px;
  }

  .conTitle {
    font-family: 'Oswald';
    font-size: 25px;
    margin-top: 6px;
  }
//================= my <ul>
  .infoBar {
    display: flex;
    flex: row nowrap;
    margin-top: 5px;
    font-family: 'Lato';
    font-size: 18px;
    color: #8C8D90;
    padding: 0;
    margin-left: 0;

//================== <li> nested in <ul>
    .conAuthor {
      flex: 1;
      list-style: none;
    }

    .conCreated {
      flex: 1;
      background-color: pink;
    }

    .conViews {

    }
  }
    .conDescription {
      font-family: 'Lato';
      margin-top: 18px;
      margin-bottom: 10px;
    }
  }

