// PROCESS
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.

//3 layout elements
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  margin: 0;
  // box-sizing: border-box;
}

$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)";

body {
  background-color: #9B401D;
}

.navi {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  background-color: #424244;

  span {
    margin: auto;
    font-family: Oswald;
  }
}
.header {
  background-color: white;

  .logo {
  }
}

.contentBlock {
  background-color: white;
  padding: 20px;
  margin: 2%;
  display: flex;
  flex-flow: row wrap;
  height: 100%;

  .conImage {
    background-color: green;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}



