// PROCESS
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.

//3 layout elements
@import "partials/reset";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

@mixin screen {
  $small: "only screen and (max-width:350px)";
  $medium: "only screen and (max-width:700px)";
  $large: "only screen and (max-width:900px)";
}

body {
  background-color: #AF5244;
}

.topBarNavi {
  display: flex;
  margin: auto;
  color: #818285;
  font-size: 18px;
  height: 50px;
  background-color: #424244;
}

.navi {
  border-left: 1px solid #818285;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  line-height: 50px;
  font-family: Oswald;
}

.navi:hover {
  background-color: #8C8D90;
  color: #424244;
}

.header {
  background-color: white;
}

.mainContent {
  // background-color: pink;
  display: flex;
  flex-flow: row wrap;
  padding-top: 2%;

  // @media #{ $medium } {
  //   flex: 0 0 400px;
  // }
}

.contentBlock {
  // border: 2px solid green;
  // flex: 0 0 360px;
  width: 350px;
  background-color: white;
  box-shadow: 3px 2px 15px #424244;
  padding: 20px;
  margin: auto;
  margin-top: 10px;


  //============== my image

  .conImage img {
    height: 250px;
    width: 100%;
  }

  //============= block title

  .conTitle {
    font-family: 'Oswald';
    font-size: 25px;
    margin-top: 4px;
  }

  //=============== my <ul>

  ul {
    display: flex;
    flex: row nowrap;
    margin-top: 5px;
    font-family: 'Lato';
    font-size: 18px;
    color: #8C8D90;
    height: 30px;
    // padding: 0;
    // margin-left: 0;

    //====== <li> nested in <ul>

    li {
      flex: 1;
    }
    .conAuthor {
      // list-style: none;
    }
  }

.textBlock {
  margin-top: 18px;
  margin-bottom: 10px;
  overflow: hidden;

  div {
    font-family: 'Lato';
    font-size: 18px;
    height: 48px;
  }

}
  div:hover {
    height: 100%;
    overflow: visible;
  }

}
